<!DOCTYPE html>
<html lang="en" class="js canvas canvastext history pointerevents mti-helveticaneuew0145ligh-n4-active mti-helveticaneuew0175bold-n4-active mti-helveticaneuew01thin-n4-active mti-active">
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>DevelopMindfulness.com | Find more moments. Create possibilities.</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  
</head>
   
<!-- Relax. Open. Grow. -->
<!-- Relax. Let go. Grow. -->
<!-- Open. Let go. Grow. -->
<body>	
		
	<div class="container">
		<div id="main-banner">
			You live moments. Find more of them. 
			<h2>Time for you.</h2>
		</div>
        <video id="player" autoplay loop>
        	<source src="https://moremindfully.s3.amazonaws.com/Dewdrop_640.mp4" type="video/mp4" />
			<source src="https://moremindfully.s3.amazonaws.com/Dewdrop.webm" type="video/webm" />
			<source src="https://moremindfully.s3.amazonaws.com/Dewdrop.ogv" type="video/ogg" />
        </video>
    </div>   
         
    <div class="main-header">
    	<nav class="main-nav">  
      		<a class="logo-link" href="/company/" id="nav-logo" title="Optimal Mindfulness">Optimal Mindfulness</a>    					
          	<a class="signin-link" href="/Contact/" title="Contact us">Contact Us</a>
          	<a class="register-link" href="/Live/" title="Live more mindfully">Live it</a>  
      		<a class="about-link" href="/Learn/" title="Learn mindfulness">Learn it</a>  
    	</nav>
    </div>
			
        
   <div id="first-product-section" class="content-section"> 
   		<div class="row">
   			<div class="row-text" style="margin-top: 17.73333333333333px; opacity: 0.7466666666666667;">
                <h2>Create possibilities.</h2>
                <p>Any.do is a family of apps designed to help you have a good day, every day: interesting, productive, well-balanced &amp; fun.</p>
				<a href="/" >Learn mindfulness</a>
			</div>
			<div class="image-container-right">
				<img src="https://moremindfully.s3.amazonaws.com/people2.jpg" alt="Smiling Happy People">
			</div>
   		</div>   	
   </div>	    
   
      <div id="second-product-section" class="content-section"> 
   		<div class="row">
   			<div class="image-container-left" style="position: relative;">
				<img src="https://moremindfully.s3.amazonaws.com/NY%20Bike%20Journey.jpg" alt="New York Bike Journey">
			</div>
   			<div class="row-text" style="margin-top: 17.73333333333333px; opacity: 0.7466666666666667;">
                <h2>Mindful where it matters</h2>
                <p>Any.do is a family of apps designed to help you have a good day, every day: interesting, productive, well-balanced &amp; fun.</p>
				<a href="/" >Live mindfulness</a>
			</div>

   		</div>   	
   </div>	    
   
     
   <div id="bottom-banner">
		Create Possibilities.
   </div>
        	

<!-- End EasyHtml5Video.com BODY section -->
<%= yield %>

</body>




</html>
